<div class="jumbotron bg-light p-5 rounded-lg mb-4">
    <h1 class="display-4">Sistema de Livros e Autores</h1>
    <p class="lead">Gerencie seu acervo de livros e autores de forma simples e eficiente.</p>
    <hr class="my-4">
    <p>Use os links abaixo para começar a cadastrar autores e livros.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Autores</h5>
                <p class="card-text">Cadastre e gerencie informações sobre autores.</p>
                <a href="/autores/novo" class="btn btn-primary">Cadastrar Novo Autor</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Livros</h5>
                <p class="card-text">Cadastre e gerencie informações sobre livros.</p>
                <a href="/livros/novo" class="btn btn-primary">Cadastrar Novo Livro</a>
            </div>
        </div>
    </div>
</div>

